$('.messages').after("<div class='alert alert-success'>" + 'Successfully posted to facebook wall' + "<button class='close' aria-hidden='true' data-dismiss='alert' type='button'>x</button></div>");
//$('.close').on('click', function(){
//    $(this).parent().slideUp('normal', function(){$(this).remove()})
//});
