$('.messages').after("<div class='alert alert-success'>" + 'Successfully posted to your account wall' + "<button class='close' aria-hidden='true' data-dismiss='alert' type='button'>x</button></div>");

