.row.row-centered
  %h3 Please enter your runner id
  .col-md-12
    = form_tag  events_path, method: :post, class: 'form-inline', remote: true do
      = text_field_tag :runner_id, class: 'form-control'
      = submit_tag 'Post video by runner id', class: 'btn btn-primary'


